#header { width:100%;
	  height:217px;
	  background: orange;
}
#left {	width:100%;
	height:200px;
	float:left;
	background: lime;
}
#content { height:400px;
	   width:100%;
	   background: lightgreen;
}
#footer {	width:1000px;
	background: yellow;
}
/*.header { background: url(insect.svg) no-repeat; } */

